<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a href="/" class="navbar-brand">My Links</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {{# if user}}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Links
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/links">All Links</a>
                            <a class="dropdown-item" href="/links/add">Add a Link</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="/profile" class="nav-link">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="/logout" class="nav-link">LogOut</a>
                    </li>
                {{else}}
                    <li class="nav-item">
                        <a href="/signin" class="nav-link">Signin</a>
                    </li>
                    <li class="nav-item">
                        <a href="/signup" class="nav-link">Signup</a>
                    </li>
                {{/ if}}
                
            </ul>
        </div>
    </div>

</nav>