<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/links/edit/{{link.id}}" method="POST">
                        <div class="mb-3">
                            <input type="text" value = "{{link.title}}" class="form-control" name="title" placeholder="title" autofocus>
                        </div>
                        <div class="mb-3">
                            <input type="url" value= "{{link.url}}" class="form-control" name="url" placeholder="URL">
                        </div>
                        <div class="mb-3">
                            <textarea name="description" rows="2" class="form-control" placeholder="description">{{link.description}}</textarea>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-success btn-block">save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>